fastapi
uvicorn
python-multipart
pydantic
python-dotenv
fastapi-mail
Pillow
imagehash
numpy
scikit-learn
transformers
python-jose
passlib[bcrypt]
email-validator
ftfy

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2+cpu
torchvision==0.17.2+cpu