fastapi
uvicorn
python-multipart
pydantic
python-dotenv
fastapi-mail
Pillow
imagehash
numpy
scikit-learn
transformers
python-jose
passlib[bcrypt]
email-validator
ftfy

torch
torchvision

git+https://github.com/openai/CLIP.git